---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<BaseLayout title={"About | " + SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <h1 class="text-lg font-semibold">about?</h1>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis at
      odit magnam aspernatur aperiam inventore quo, exercitationem amet dolore
      laudantium facilis magni laborum perferendis aliquam et in optio
      voluptates eos.
    </p>
  </main>
</BaseLayout>
