---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="flex flex-col items-center justify-center space-y-4">
    <div>
      <h1 class="text-center text-8xl">
        <span
          class="greeting inline-block animate-fade-in-down cursor-pointer select-none"
        ></span>
        <!-- <span>ヾ(≧▽≦*)o</span> -->
      </h1>
    </div>

    <div class="text-center">
      <a
        class="underline underline-offset-2 hover:text-gray-500 dark:hover:text-gray-300"
        href="https://github.com/kentlius"
        target="_blank">GitHub</a
      > /
      <a
        class="underline underline-offset-2 hover:text-gray-500 dark:hover:text-gray-300"
        href="https://cv.kntl.zip/">CV</a
      > /
      <a
        class="underline underline-offset-2 hover:text-gray-500 dark:hover:text-gray-300"
        href="https://www.linkedin.com/in/kentlius/"
        target="_blank">LinkedIn</a
      > /
      <a
        class="underline underline-offset-2 hover:text-gray-500 dark:hover:text-gray-300"
        href="https://www.instagram.com/kent_lius/"
        target="_blank">Instagram</a
      > /
      <a
        class="underline underline-offset-2 hover:text-gray-500 dark:hover:text-gray-300"
        href="mailto:kent.liusudarso@gmail.com">me@kntl.zip</a
      >
    </div>
  </main>
</BaseLayout>

<script>
  const greetings = [
    "Hello",
    "Hola",
    "Bonjour",
    "Guten Tag",
    "Ciao",
    "Olá",
    "Привет",
    "你好",
    "こんにちは",
    "안녕하세요",
    "สวัสดี",
    "Hallo",
    "Cześć",
    "Hej",
    "Hei",
    "Halló",
    "Ahoj",
    "Salut",
    "Halo",
    "Hola",
    "Helo",
    "Hàlo",
    "Aloha",
    "Hallo",
    "Saluton",
  ];

  const randomGreeting = () =>
    greetings[Math.floor(Math.random() * greetings.length)];

  const greeting = document.querySelector(".greeting");

  greeting && (greeting.textContent = randomGreeting());

  greeting &&
    greeting.addEventListener("click", () => {
      greeting.textContent = randomGreeting();
    });
</script>
