---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import ContactForm from "../components/ContactForm.astro";
import Sparkles from "../components/Sparkles.astro";
---

<BaseLayout>
  <Hero />
  <div class="border-t"></div>
  <About />
  <div class="border-t"></div>
  <Projects />
  <div class="border-t"></div>
  <Sparkles />
</BaseLayout>
