---

---

<section class="">
  <div class="flex justify-between">
    <p>02/</p>
    <h1>ABOUT</h1>
    <div>
      <a href="https://www.linkedin.com/in/">LinkedIn</a> /
      <a href="https://github.com">GitHub</a> /
      <a href="https://www.instagram.com/">Instagram</a>
    </div>
    <p>/04</p>
  </div>

  <div class="mt-12 flex gap-4">
    <h2>
      Hello, I'm Final year student at Institut Teknologi Bandung majoring in
      Computer Science
    </h2>
    <a href="/about">LEARN MORE</a>
  </div>
</section>
