---

---

<div>
  <h2 class="text-8xl">Wanna be starting something?</h2>
  <p class="text-lg">
    Feel free to reach out if you wanna collaborate with me, or simply have a
    chat
  </p>
  <a class="text-4xl" href="mailto:kent.liusudarso@gmail.com"
    >kent.liusudarso@gmail.com</a
  >
</div>
