---
const today = new Date();
---

<footer class="h-screen grid grid-rows-[auto_1fr_auto] py-12">
  <div class="mt-12"></div>

  <div class="flex flex-wrap h-full">
    <!-- <h2 class="text-8xl">Wanna be starting something?</h2>
    <p class="text-lg">
      Feel free to reach out if you wanna collaborate with me, or simply have a
      chat
    </p>
    <a class="text-4xl" href="mailto:kent.liusudarso@gmail.com"
      >kent.liusudarso@gmail.com</a
    > -->
  </div>

  <div
    class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-y-4 mt-16"
  >
    <div
      class="flex justify-between md:justify-center md:gap-8 items-center w-full md:w-auto"
    >
      <a href="" class="hidden md:block">LinkedIn</a>
      <a href="" class="md:hidden">LI</a>
      <a href="" class="hidden md:block">GitHub</a>
      <a href="" class="md:hidden">GH</a>
      <a href="" class="hidden md:block">Instagram</a>
      <a href="" class="md:hidden">IG</a>
    </div>

    <div>
      &copy; <time>{today.getFullYear()}</time> Kent.
    </div>
  </div>
</footer>
