---
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex justify-end items-center">
  <nav class="space-x-4">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </nav>
</header>
