---

---

<section class="flex justify-center items-center h-screen">
  <h1 class="text-[6vw] leading-none font-bold uppercase flex flex-col w-full">
    <span>Hi There, I'm</span>
    <span class="text-right">Kent Liusudarso.</span>
  </h1>
</section>
