---

---

<div class="bg-gray-400 rounded-3xl w-64 h-96">
  <div class="card-header">
    <h4 class="card-title">Card title</h4>
    <p class="card-category">Card category</p>
  </div>
  <div class="card-body">Card content</div>
</div>
