---
import BaseHead, {
  type Props as HeadProps,
} from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import TailwindIndicator from "../components/TailwindIndicator.astro";

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...head} />
  </head>
  <body
    class="container h-screen bg-[url(https://grainy-gradients.vercel.app/noise.svg)] dark:bg-gray-900 dark:text-white selection:bg-fuchsia-300 selection:text-fuchsia-900"
  >
    <Header />
    <main class="grid grid-rows-[1fr_auto] min-h-full">
      <slot />
      <Footer />
    </main>
    <TailwindIndicator />
    <script src="../scripts"></script>
  </body>
</html>
