---
import BaseHead, {
  type Props as HeadProps,
} from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Starry from "../components/Starry.astro";

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...head} />
  </head>
  <body
    class="h-screen bg-black text-white selection:bg-fuchsia-300 selection:text-fuchsia-900"
  >
    <div class="container py-8 grid grid-rows-[auto_1fr_auto] min-h-full">
      <Header />
      <slot />
      <Footer />
    </div>
    <div class="fixed">
      <Starry />
    </div>
  </body>
</html>
